.about-me-container{
    padding-top:80px;
    width:100%;

    h1{
        text-align: center;
    }
    span{
        color: var(--yellow);
    }
    .about-data{
       padding: 20px;
       line-height: 40px;
       display: flex;
       justify-content: space-around;
       width: 100%;
       font-size: large;
       h3{
        text-decoration: underline;
       }
       .personal-data{
            ul{
                list-style: none;
                font-size: large;
                font-weight: 600;
                
            }
        }           
    }
}


